@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for Espresso */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37; /* Espresso Gold */
}

/* Hide scrollbar completely where scrollbar-hide class is used */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}